
*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.nav{
  background: rgb(99, 130, 161);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}